body {
    color: #0A0A0A!important;
}

.analytics-card {
    background-color: #D6EFD8!important;
    color: #0A0A0A!important;
}

.social-media-card {
    background-color: #508D4E!important;
    color: #FFFFFF!important;
}

.my-button {
    background-color: #80AF81!important;
}